<!DOCTYPE html>
<html>
<head>
    <title>HTML Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>

</head>
<body>
    <div class="container">
        <h2>HTML Form</h2>
        <form action="/submit" method="post">
            <label for="science">Science</label>
            <input type="text" id="science" name="science" value="0">

            <label for="math">Math</label>
            <input type="text" id="math" name="math" value="0">

            <label for="english">English</label>
            <input type="text" id="english" name="english" value="0">

            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
